@import url('../../styles/global.css');
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.edit_exercise{
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    width: 70%;
}
label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    color: #4F4F4F;
    line-height: 21px;
}
.dropdown{
    width: 20%;
}
.exercise_name {
    margin-left: auto;
    width: 50%;
}
.instructions{
    width: auto;
}
.codeeditor{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-top: 20px;
}

.testcase_details{
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    width: 100%;
}
.control_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

}

.dropdown-container {
    text-align: left;
    border: 1px solid var(--border-color);
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    color: #00000085;
    font-size: 14px;
  }
  .disabled{
    background-color: #e0e0e0;
    min-width: max-content;
  }
  
  .dropdown-input {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  
  .dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    z-index: 99;
  
  }
  
  .dropdown-item {
    padding: 5px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #9fc3f870;
  }
  
  .dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
  }
  
  .dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }
  .disabled .dropdown-tag-item{
    background-color: #9f9f9f;
  }
  .dropdown-tag-close {
    display: flex;
    align-items: center;
  }
  
  .search-box {
    padding: 5px;
    background-color: #eee;
  }
  
  .search-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  @media(width<768px) {
    .dropdown-container {
      width: 4rem;
      font-size: 12px;
    }
  }


.input_box {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    border-radius: 6px;
    font-family: var(--font-family);
}

.input_box img {
    padding: 10px;

}

.input {
    outline: none;
    border: none;
    font-family: var(--font-family);
    width: 100%;
    padding: 8px 12px;
  border-radius: 6px;
}

.input_textarea {
    flex: 1;
    outline: none;
    border: none;
    padding: 10px;
    font-family: var(--font-family);
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 12px 7px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: max-content;
  height: min-content;
  gap: 5px;
  background-color: #EE3425;
  color: white;
  font-weight: 500;
  font-size: 12px;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled_btn {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn:hover {
  background: red;
}

.btn:active {
  background-color: #828282;
}