.container_body {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    overflow: auto;
    gap: 20px;
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .container_body {
        justify-content: center;
    }
}

.section_cards {
    display: flex;
}
