@import url('../../styles/global.css');
.editor {
    margin-top: 40px;
}

.submit_article {
    display: flex;
    justify-content: flex-end;
}

.inputs {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 10px;
}

.input_box_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_article_container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 40px;
}


.input_box {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    border-radius: 6px;
    max-width: 600px;
    font-family: var(--font-family);
}

.input_box img {
    padding: 10px;

}

.input {
    outline: none;
    border: none;
    font-family: var(--font-family);
    width: 100%;
}

.input_textarea {
    flex: 1;
    outline: none;
    border: none;
    padding: 10px;
    font-family: var(--font-family);
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 12px 7px 12px;
    border-radius: 6px;
    cursor: pointer;
    width: max-content;
    height: min-content;
    gap: 5px;
    background-color: #EE3425;
    color: white;
    font-weight: 500;
    font-size: 12px;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled_btn {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn:hover {
    background: red;
}

.btn:active {
    background-color: #828282;
}