table {
    overflow-x: auto;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 15px 50px;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #F2F3FA;
    font-weight: 600;
}

.student_row {
    border-bottom: 1px solid #F2F3FA;
}

.students_table {
    overflow: auto;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media(768px<=width<=1400px) {}