.link_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 8px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
    width: max-content;
    height: min-content;
    gap: 5px;
    background-color: white;
    color: var(--font-color-btn);
    font-weight: 500;
    font-size: var(--font-size-sm);
    text-decoration: none;
}

.link_btn:hover {
    background: #FFFCE6;
    border: 1px solid #FDE74D;
    border-radius: 6px;
}