.articles_list {
    white-space: nowrap;
    overflow: auto;
}

.articles_list>a {
    margin: 0 10px;
    display: inline-flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: #F2F3FA !important;
}

.articles_list>a:first-of-type {
    margin-left: 0;
}

.articles_list>a:last-of-type {
    margin-right: 0;
}

.existing_articles>p {
    margin: 0;
    font-weight: 600;
}