.content_body {
    height: 100vh;
    overflow: auto;
    padding: 10px 0px 0px 0px;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #fdfbf6;
    width: 50%;
}


.content_header {
    padding: 14px 14px 0 14px;
}


.code_editor {
    padding: 0 24px;
    margin-bottom: 24px;
}

.right_box {
    z-index: 10;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(98, 127, 172, 0.2);
    overflow: auto;
}

.right_box_title {
    padding: 16px;
    font-weight: 500;
}

.img-div {
    width: 16px;
    height: 16px;
    /* background-color: red; */
}

.link_box {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 14px 16px;
}
.linkhover{
    :hover{
        background-color: var(--color-primary);
    }
}

.link_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
.domain_text{
    margin-top: 5px;
    font-weight: 400;
    font-size: var(--font-size-sm);
    color: var(--color-secondary-2);
    width: 300px;
    word-break: break-all;
    text-overflow: ellipsis;
    height: 14px;
    overflow-x: hidden;
}
.link_title{
    font-weight: 500;
    font-size: var(--font-size-md);
    color: var(--font-color); 
}

.image{
    padding: 10px;
    background-color: #f3fafa;
    border-radius: 50%;
}

@media (width<768px) {
    .right_box {
        display: none;
    }
}
