@import url('../../styles/global.css');
.input_box {
    display: flex;

    align-items: center;
    padding: 0 0.25rem;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    border-radius: 6px;
    width: 100%;
    margin: 10px;
    font-family: var(--font-family);

}
.input_box img{
    padding: 10px;
    
}

.input {
    outline: none;
    border: none;
    font-family: var(--font-family);
    width: 100%;
}
.input_textarea{
    flex: 1;
    outline: none;
    border: none;
    padding: 10px;
    font-family: var(--font-family);
}

