

/* .inputs {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    gap: 10px;
} */
.additional_link{
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-top: 15px;
}
.input_box_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name_time{
    display: flex;
    gap: 100px;
    flex-direction: row;
    margin-bottom: 20px;
}
.url, .link{
margin-left: 10px;
margin-bottom: 20px;
margin-top: 10px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
    gap:20px;
}
.editor{
    height: auto;
}
.submit_article{
display: flex;
justify-content: flex-end;
}