.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header_right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.course_title {
    font-weight: 500;
    font-size: 24px;
}

.profile_box {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile_name {
    width: max-content;
}

.profile_details {
    display: flex;
    flex-direction: column;
}

.profile_rank {
    font-size: var(--font-size-md);
}

.prof_pic>img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}

.logout_box {
    cursor: pointer;
}