.progress_overview {
    display: flex;
    margin: 10px;
    gap: 10px;
}

.progress_overview>div:last-child {
    flex: 1;
    min-width: 200px;
}

.progress_box {
    border-radius: 5px;
    padding-left: 15px;
}

.progress_box:nth-child(1) {
    border-left: 5px solid red;
}

.progress_box:nth-child(2) {
    border-left: 5px solid blue;
}

.progress_box:nth-child(3) {
    border-left: 5px solid green;
}

.chart {
    height: 85%;
    width: 65%;
}

.progress_overview_report {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F3FA;
    border-radius: 6px;
    height: 100%;
}

.progress_details {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.progress_title,
.courses_title {
    font-size: 20px;
    font-weight: 500;
}


.number {
    font-size: 22px;
    font-weight: 600;
}

.text {
    color: #828282;
}

.user_courses {
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #F2F3FA;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin-top: 10px;
}

.course_title>div {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px) {
    .progress_overview {
        flex-direction: column;
        gap: 15px;
    }

    .progress_overview_report {
        flex-direction: column;
        gap: 15px;
    }

    .chart {
        height: 65%;
        width: 65%;
    }

    .progress_details {
        margin: 0;
        margin-left: 15px;
    }
}